html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: "Urbanist", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-50px:nth-child(n+2) {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .item-50px:nth-child(n+2) {
    margin-top: 3.125rem;
  }
}

.item-100px:nth-child(n+2) {
  margin-top: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .item-100px:nth-child(n+2) {
    margin-top: 6.25rem;
  }
}

.width-80px {
  max-width: 100%;
  width: 80px;
}

.width-100px {
  max-width: 100%;
  width: 100px;
}

.width-810px {
  max-width: 100%;
  width: 810px;
}

.width-1063px {
  max-width: 100%;
  width: 1063px;
}

.width-1364px {
  max-width: 100%;
  width: 1364px;
}

.header .uk-navbar-toggle-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none'%3E%3Cpath d='M0 0.287506V2.78751H20V0.287506H0ZM0 7.71251V10.2125H20V7.71251H0ZM0 15.2125V17.7125H20V15.2125H0Z' fill='%23EF382D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.header .uk-navbar-toggle-icon svg {
  opacity: 0;
}
.uk-offcanvas-page .header .uk-navbar-toggle-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M2 2L18 18' stroke='%23EF382D' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M2 18L18 2' stroke='%23EF382D' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.header__menuoffcanvas {
  top: 56px;
}
.header__menuoffcanvas__bar {
  max-width: 100%;
  width: 100%;
  left: 0 !important;
  right: 0 !important;
  color: #000;
  background: #fff;
  bottom: 100%;
  padding: 0;
  padding-bottom: 65px;
}
.uk-open > .header__menuoffcanvas__bar {
  bottom: 0;
}
.header__menuoffcanvas__boxSeach {
  padding: 0 24px;
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.header__menuoffcanvas .uk-offcanvas-bar-animation {
  transition-property: right;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-search .uk-search-input {
  border: 1px solid #BDBDBD;
  border-left: none;
  border-right: none;
  color: #BDBDBD;
  background-color: #fff;
  font-size: 14px;
  height: 60px;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-search .uk-search-input::placeholder {
  color: #BDBDBD;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-search .uk-search-icon {
  color: #BDBDBD;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default {
  margin-top: 10px;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default > li > a {
  color: #000 !important;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  border-bottom: 1px solid #E0E0E0;
  min-height: 70px;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  gap: 10px;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default > li > a .uk-nav-parent-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6' fill='none'%3E%3Cpath d='M7.46171 0.5H0.538289C0.0593271 0.5 -0.180154 1.13741 0.158886 1.51097L3.61925 5.32656C3.82913 5.55781 4.17087 5.55781 4.38075 5.32656L7.84111 1.51097C8.18015 1.13741 7.94067 0.5 7.46171 0.5Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default > li > a .uk-nav-parent-icon svg {
  opacity: 0;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default > li.uk-open > a {
  color: #EF382D !important;
  font-weight: 600;
  border-left-color: #EF382D;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-default > li.uk-open > a .uk-nav-parent-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6' fill='none'%3E%3Cpath d='M7.46171 0.5H0.538289C0.0593271 0.5 -0.180154 1.13741 0.158886 1.51097L3.61925 5.32656C3.82913 5.55781 4.17087 5.55781 4.38075 5.32656L7.84111 1.51097C8.18015 1.13741 7.94067 0.5 7.46171 0.5Z' fill='%23EF382D'/%3E%3C/svg%3E");
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-sub {
  padding: 0 24px;
  border-bottom: 1px solid #E0E0E0;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-sub a {
  color: #000 !important;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  min-height: 50px;
  box-sizing: border-box;
}
.header__menuoffcanvas .uk-offcanvas-bar .uk-nav-sub li.uk-active > a {
  background: var(--Red-3, #FFF2F1);
  color: var(--Red-1, #EF382D) !important;
  font-weight: 600;
}
.header.uk-active {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1200px) {
  .header.uk-active {
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
.header:not(.uk-navbar-transparent) {
  background-color: #fff;
}
.header__item, .header .uk-navbar-toggle,
.header .uk-navbar-item, .header .uk-navbar-nav > li > a {
  min-height: 56px;
}
.header .uk-navbar-dropdown {
  padding: 0;
}
.header .uk-navbar-dropdown-nav > li:hover > a {
  color: #ff0100;
}
.header .uk-navbar-dropdown-nav > li > a {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #020000;
  position: relative;
}
.header .uk-navbar-dropdown-nav > li > a[aria-haspopup]:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
  top: calc((100% - 15px) / 2);
  top: 50%;
  transform: translateY(-50%);
}
.header .uk-navbar-dropdown-nav > li:nth-child(n+2) > a:after {
  content: "";
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #d2d2d2;
  opacity: 0.5;
  right: 15px;
  left: 15px;
  position: absolute;
  top: 0;
}
.header .uk-navbar-nav {
  gap: 0px;
}
.header .uk-navbar-nav > li {
  position: relative;
}
.header .uk-navbar-nav > li:nth-child(n+2):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((0px - 0px) / 2);
  width: 1px;
  display: flex;
  background-color: #ddd;
}
.header .uk-navbar-nav > li > a {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  color: #020000;
  padding: 0 15px;
}
.footer {
  background-color: #7f1917;
}
.footer__title {
  font-weight: 700;
}
.footer__nav > li:before {
  position: relative;
  top: 5px;
}
.footer__nav > li > a {
  font-size: 1rem;
}
.footer__address > li {
  display: flex;
}

.home__step__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #020000;
}
.home__about__title {
  letter-spacing: 1.34px;
  color: #fc0303;
  font-weight: 700;
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .home__about__title {
    font-size: 2rem;
  }
}
.home__about__desc {
  font-weight: 700;
  letter-spacing: 0.9px;
  color: #020000;
  font-size: 1.125rem;
}
.home__congnghe {
  background-color: #fd7419;
}
.home__congnghe__nav > * > * {
  border: 1px solid;
  border-color: #fff;
  font-weight: 700;
}
.home__congnghe__nav > *.uk-active > * {
  color: #fb0505 !important;
}
.home__congnghe__title {
  font-size: calc(1.3rem + 0.6vw);
  letter-spacing: 1.07px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .home__congnghe__title {
    font-size: 1.75rem;
  }
}
.home__congnghe__desc {
  font-size: 1.0625rem;
}
.home__quatang__nav > * > * {
  border: 1px solid;
  border-color: #fd7419;
  font-weight: 700;
  font-size: 1rem;
}
.home__quatang__nav > *.uk-active > * {
  background-color: #fd7419 !important;
  color: #fff !important;
}
.home__quatang__title {
  font-weight: 700;
  font-size: calc(1.325rem + 0.9vw);
  color: #f66504;
}
@media (min-width: 1200px) {
  .home__quatang__title {
    font-size: 2rem;
  }
}
.home__quatang__card__title {
  margin: 0;
  font-size: 1rem;
}
.home__quatang__card__title a {
  color: #504343;
}
.home__quatang__card__cat {
  color: #d09906;
  font-size: 0.875rem;
  font-weight: 500;
}
.home__quatang__card__price {
  margin-top: 10px;
  font-weight: 700;
  color: #020000;
}
.home__inan {
  background-color: #dec8b9;
}
.home__inan__card__title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}
.home__taisao__title {
  margin-bottom: 6px;
  font-weight: 700;
}
.home__tintuc__title {
  font-weight: 700;
  color: #f66504;
}
.home__tintuc__name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.home__tintuc__date {
  font-size: 0.8125rem;
  color: #c5c6cf;
}

/*# sourceMappingURL=style.css.map */
